.DivStart{
    margin-top: 50px;
}


.H1Tittle{
    font-size: 50px;
}

.ButtonStart{
    margin-top: 50px;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #8bbcf5;
    color: #000000;
    border-radius: 5px;
    filter: drop-shadow(1.5px 1.5px 2px #020212);
    text-align: center;
}
.ButtonStart:hover{
    background-color: #93c1f6;
}



@media screen and (max-width: 768px){

    .DivStart{
        margin-top: 50px;
    }
    
    
    .H1Tittle{
        font-size: 26px;
        
    }
    
    .ButtonStart{
        margin-top: 30px;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #8bbcf5;
        color: #000000;
        border-radius: 5px;
        filter: drop-shadow(1.5px 1.5px 2px #020212);
        text-align: center;
    }
    .ButtonStart:hover{
        background-color: none;
    }

}